<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>INDEX</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="static/CSS/index.css">

</head>

<body>
  {% include "components/navbar.html" %}

  <div class="container-fluid mt-4">
    <div class="card-deck">
      <div class="card">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body">
    
          
          <a href="/images">
            <h5 class="images">ADD NEW IMAGE</h5>
          </a>
          
          <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
        </div>
      
      </div>


    </div>
    </div>


    <style>
      .image-container {
    width: 100%; /* Adjust as needed */
    height: 100%; /* Adjust as needed */
    overflow: hidden; /* Ensure images don't overflow */
}

.image-container img {
    width: 100%; /* Fill the container horizontally */
    height: 100%; /* Fill the container vertically */
    object-fit: cover; /* Maintain aspect ratio; cover the container */
}

    </style>


    <div class="container-fluid mt-4">
        <h5 style="text-align: center; color: blue"><b>LIST OF IMAGES</b></h5>
        <div class="card-group ">

            {% for image in images %}
            <div class="col-sm-2">
                <div class="card image-container">
                    <img class="card-img-top" src="data:image/jpeg;base64,{{ image.image|b64encode }}" alt="{{ image.imagename }}" alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">{{ image.imagename }}</h4>
                      <p><a href="{{ url_for('webapp.image_edit', image_id=image.id) }}"" style="color: red;">Delete</a></p>
                    </div>
                  </div>

            </div>

            {% endfor %}
            
          </div>
    </div>



</body>

</html>